body{
	font-size: 15px;
	font-family: 'Poppins', sans-serif;
	max-width: 1600px;
	margin: 0 auto;
}
.wrapper-body {
    background: #1c78ff;
}
.wrapper-body a{color: #fff}
.wrapper-body a h2{margin-bottom: 0;}
.wrapper-body span{color: #fff}
span.count {
    font-size: 35px;
}
.container_check {
  display: block;
  position: relative;
  padding-top: 5px;
  font-size: 13px;
  font-size: 0.8125rem;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 10px;
}

.container_check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.container_check .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid #d2d8dd;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-color: #fff;
}
.container_check:hover input ~ .checkmark {
  background-color: #ededed;
  border: 1px solid transparent;
}

.container_check input:checked ~ .checkmark {
  background-color: #0072bc;
  border: 1px solid transparent;
}

.container_check .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 10px;
  top: 6px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.container_check input:checked ~ .checkmark:after {
  display: block;
}
.driver_info .container_check{
	padding-left: 0;
}
.info_section{
	background-color: rgb(255, 204, 0);
	padding: 30px 0;
}
.info_section label, .driver_info label{font-weight: 600}
.info_section .form-group span{position: absolute;
    top: 0;
    right: 0;
    color: red;
    font-size: 25px;}
.driver_info{
	background-color: rgb(153, 255, 255);
	padding: 30px 0;
}
.driver_info img, .driver_info span{margin-top: 8px !important}
.add_new{
	background: #e02c2c;
	color: #fff;
    width: 40px;
    height: 40px;
    padding: 4px 11px;
    border-radius: 50%;
    font-size: 25px;
    position: fixed;
    z-index: 9;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
}
.driver_info:nth-child(odd){
	background-color: rgb(255, 204, 0);
}
.btn_section{background-color: rgb(102, 226, 226);padding: 30px 0}
.btn_section label{margin-top: 7px;}
.btn_section img{padding-left: 8px;}
.btn_section .container_check{padding-left: 15px;}
.upload_btn{
	background-color: #0cf;color: #fff;border-radius: 0;
}
.remove_form{
    background: #e02c2c;
    color: #fff;
    width: 40px;
    height: 40px;
    padding: 2px 11px;
    border-radius: 50%;
    font-size: 25px;
    float: right;
    z-index: 9;
    cursor: pointer;
}

@media(max-width: 375px){
  .info_section label, .driver_info label{font-size: 13px;}
}